/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.nrepl-port
.cpcache/
*.iml
/.lein-*
/.prepl-port
.hgignore
.hg/
.clj-kondo/
.idea/
target/
